extends layout

block content

  img(id="face" src='images/face.png')

  #wrapper
    #chatbox
    form(id="submitMsgForm" action="")
      input#usermsg(name="usermsg" type="text" size="63")
      input#submitmsg(name="submitmsg" type="submit" value="Submit")

  .footer


