doctype html
html
  head
    title= title

    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/style.css")
    script( src="/js/jquery.min.js")
    script( src="/js/bootstrap.min.js")
    script(src="/javascript/scripts.js")

  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') ChatBot



    block content
